
body hr {
    padding: 0;
    margin: 0;
    height: 1px;
    border: none;
    background-color: #CCC;
}

a, span, button {
    transition: all ease 0.2s;
}

body .message-box {
    margin: 0;
}

body .banner-logo {
    padding: 20px 15px;
}

.banner-logo img {
    width: 100%;
}

body .banner-title {
    margin: 20px 0;
}

body .banner-title h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
}

body .main, body .club-main {
    background-color: #FFF;
    font-family: 'Calibri', sans-serif !important;
    font-size: 18px;
    padding: 50px 20px 20px 20px;
}

body .carousel-inner {
    width: 100%;
}
body .carousel-inner img {
    width: 100%;
}

 body .carousel {
     padding: 0;
 }

body .banner {
    z-index: 1;
    position: absolute;
}

body .navbar-nav li {
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
}

body .footer {
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    font-family: 'Calibri', sans-serif;
    background-color: #F5F5F5;
    min-height: 50px;
}


/* NAVIGATION STYLES */
body .main-nav {
    position: absolute;
    z-index: 2;
    right:0;
    text-align: center;
    padding: 0 !important;
}
body .main-nav .nav {
    float: none !important;
    margin-right: 0;
    margin-left: 0;
}
body .main-nav > div{
    padding: 0 5px !important;
}
body .nav-item > a {
    transition: all ease 0.2s;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

body .nav .nav-item > a:hover {
    transition: all ease 0.2s;
    color: #F0AD4E;
}

body .main-nav .dropdown .dropdown-menu {
    left: inherit;
    right: 0;
}
body .main-nav .dropdown .dropdown-menu > li p {
    margin: 0;
    padding: 3px 20px;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    color: #AAA;
}
body .main-nav .dropdown .dropdown-menu > li {
    background-color: #FFF;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
}
body .main-nav .nav .dropdown .dropdown-menu li ul {
    padding-left: 0;
}
body .main-nav .nav .dropdown .dropdown-menu li li {
    width: 100%;
    background-color: #FFF;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body .main-nav .nav .dropdown .dropdown-menu a {
    transition: all ease 0.2s;
    text-decoration: none;
    list-style-type: none;
    color: #333;
    padding: 2px 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
}

body .main-nav .nav .dropdown .dropdown-menu a:hover, body .main-nav .nav .dropdown .dropdown-menu a:active {
    transition: all ease 0.2s;
    padding-left: 15px;
    background-color: #F6CE95;
}
body .main-nav .nav .dropdown .dropdown-menu li ul a {
    transition: all ease 0.2s;
    display: block;
    padding-left: 35px;
}
body .main-nav .nav .dropdown .dropdown-menu li ul a:hover, body .main-nav .nav .dropdown .dropdown-menu li ul a:active {
    transition: all ease 0.2s;
    padding-left: 30px;
}
body .main-nav .nav .dropdown .dropdown-menu li .active {
    background-color: #999;
    background-color: #F0AD4E;
    color: #FFF;
}
body .main-nav .dropdown-menu {
    min-width: 200px;
}

/* PROFILE STYLES */
body .profile-banner {
    padding-top: 100px;
    height: 300px;
    text-align: center;
    background-color: #F0AD4E;
}
body .profile-banner h1 {
    color: #FFF;
}

body .profile-nav nav {
    width: 100%;
}

body .search-div {
    top: 0;
    right: 0;
}

body .search-div form {
    margin-left: 0;
    margin-right: 0;
}

body .search-results {
    position: absolute;
}

body .main-nav {
    z-index: 5;
}

@media (max-width: 768px) {
    body .main-nav {
        position: relative;
        margin-bottom: 0;
    }

    body .search-results {
        position: relative;
    }
}

body .hr-spacer {
    margin: 20px 0;
}

body .orange-div {
    background-color: #F0AD4E;
    color: #EEE;
}

body .heading-div {
    margin-top: 20px;
    padding: 0 50px;
}

.card-box {
    border-radius: 5px;
    padding: 20px;
}
.profile-body {
    padding-top: 30px;
   box-shadow: 0px -3px 5px -2px;
}
.club-banner {
    overflow: hidden;
    z-index: -1;
    max-height: 100vh;
    padding: 0;
}
.club-banner img {
    width: 100%;
}

body .club-nav .navbar .nav a:hover, body .club-nav .navbar .nav a:active {
    transition: all ease 0.2s;
    color: #FFF;
    background-color: #F6CE95;
}

body .club-nav .navbar .nav .active a {
    color: #FFF;
    background-color: #F0AD4E;
}


body .club-nav li {
    text-align: center;
}

body .club-nav .navbar {
    margin: 0;
}

body .list-group {
  text-align: left;
}
body .list-custom-item a {
    text-decoration: none;
    color: #222;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
}

body .list-custom-item a:hover, body .list-custom-item a:active {
    transition: all ease 0.2s;
    color: #FFF;
    background-color: #F6CE95;
}

body .list-custom-item a:hover span, body .list-custom-item a:active span {
    transition: all ease 0.2s;
    color: #F0AD4E;
}

body .list-custom-item {
    padding: 0;
}
/*body .list-custom-item a p:nth-child(0) {
    margin-left: 0;
}
body .list-custom-item a p {
    display: inline-block;
    margin-left: 10px;
}*/

body .list-custom-item span {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Calibri', sans-serif;
    color: #AAA;
    margin-left: 10px;
}

body #loading {
    text-align: center;
    padding: 50px 0;
}

body .event-description {
    max-width: 75%;
    display: inline-block;
    text-decoration: none;
}

body .event-main h3 {
    text-align: left;
}

body .event-main {
    margin-top: 50px;
    text-align: center;
}
body .btn-custom {
    font-family: 'Calibri', sans-serif;
    background-color: #FFF;
    color: #F0AD4E;
    border: 2px solid #FFF;
}

body .btn-custom:hover,  body .btn-custom:active {
    transition: all ease 0.2s;
    font-family: 'Calibri', sans-serif;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    color: #FFF;
    border: 2px solid #FFF;
}
body .btn-orange {
  transition: all ease 0.2s;
  font-family: 'Calibri', sans-serif;
  background-color: rgba(0,0,0,0);
  color: #F0AD4E;
  border: 2px solid #F0AD4E;
}
body .btn-orange:hover,  body .btn-orange:active {
  transition: all ease 0.2s;
  font-family: 'Calibri', sans-serif;
  background-color: #F0AD4E;
  color: #FFF;
  border: 2px solid #F0AD4E;
}

body .empty-page-message {
    margin: 50px 0px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

body .gallery-window .panel .panel-heading {
    transition: all ease 0.2s;
    font-size: 20px;
}
body .gallery-window .panel {
    transition: all ease 0.2s;
    font-size: 16px;
}
body .gallery-window .panel:hover {
    transition: all ease 0.2s;
    box-shadow: 4px 4px 10px -5px #000;
    margin: -5px 5px 25px -5px;
}
body .gallery-window {
    color: #111;
    text-decoration: none;
}
body {
    transform: perspective(500px);
    transform-style: preserve-3d;
}
