apache/
cgi-bin/
contrib/
htdocs/forbidden/
htdocs/restricted/
htdocs/xampp/
install/
licenses/
locale/
mysql/
perl/
php/
security/
sendmail/
tmp/
tomcat/
webdav/
apache_start.bat
apache_stop.bat
catalina_service.bat
catalina_start.bat
catalina_stop.bat
changes.txt
mysql_start.bat
mysql_stop.bat
passwords.txt
readme_de.txt
readme_en.txt
setup_xampp.bat
test_php.bat
uninstall.dat
uninstall.exe
xampp_shell.bat
xampp_start.exe
xampp_stop.exe
xampp-control.exe
xampp-control.ini
xampp-control.log

*.insert
